{% extends 'base.html.twig' %}

{% block title %}FraisGen index{% endblock %}

{% block body %}
    <h1>FraisGen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Lieu</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for frais_gen in frais_gens %}
            <tr>
                <td>{{ frais_gen.id }}</td>
                <td>{{ frais_gen.nom }}</td>
                <td>{{ frais_gen.categorie }}</td>
                <td>{{ frais_gen.lieu }}</td>
                <td>{{ frais_gen.montant }}</td>
                <td>
                    <a href="{{ path('frais_gen_show', {'id': frais_gen.id}) }}">show</a>
                    <a href="{{ path('frais_gen_edit', {'id': frais_gen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('frais_gen_new') }}">Create new</a>
{% endblock %}
